@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent-dark: var(--accent-dark);
  --color-accent-light: var(--accent-light);
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    background-color: var(--background);
  }
  
  .main-wrapper {
    padding-left: 20rem;
    padding-right: 20rem;
    padding-top: 2rem;
    min-height: 100vh; 
  }
}

:root {
  --radius: 0.625rem;
  --background: #ffffff;
  --foreground: #101010;
  --accent-dark: #075985;
  --accent-light: #7DD3FC;
}

.dark {
  --background: #101010;
  --foreground: #ffffff;
  --accent-dark: #075985;
  --accent-light: #7DD3FC;
}

